body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #c4ae64;
}

#wrap {
  margin: auto;
  position: relative;
}

#bg{
  position: fixed;
  height: 100%;
  width: 100%;
}

#bg canvas{
  height: 100%;
  width: 100%;
}

#wrap svg {
  background: rgba(255, 255, 255, 0.33);
  height: 100%;
  width: 100%;
}

