body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #C6A63D;
}

#wrap {
  margin: auto;
}

svg {
  background: #D2C187;
  height: 100%;
  width: 100%;
}
