body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #c4ae64;
}

#wrap {
  margin: auto;
  position: relative;
}

svg {
  background: rgba(210, 193, 135, 0.6);
  height: 100%;
  width: 100%;
}

